footer {
  background: $roxo;
  color: #fff;

  .center {
    background: image('detalhe-circulos.png') no-repeat left bottom;
    min-height: 315px;
    @include clearfix;
    @include below('tablet') {
      background: none;
      min-height: auto;
    }
  }

  .informacoes {
    width: 640px;
    float: right;
    padding-top: 60px;
    @include clearfix;
    @include below('tablet') {
      width: 100%;
      float: none;
      padding: 40px 0 30px;
    }
    @include mobile {
      padding: 25px 0;
    }
  }

  .marcas {
    width: 100%;
    @include clearfix;
    img {
      display: block;
      float: left;
      &:nth-child(2) {
        float: right;
      }
    }
    @include mobile {
      img {
        display: block;
        float: none !important;
        max-width: 200px;
        &:nth-child(2) {
          margin-top: 10px;
        }
      }
    }
  }

  .aviso {
    border-top: 1px solid rgba(#fff, .3);
    border-bottom: 1px solid rgba(#fff, .3);
    padding: 15px 0;
    margin: 25px 0;
    font-size: 12px;
    @include mobile {
      padding: 10px 0;
      margin: 15px 0;
      font-size: 11px;
    }
  }

  .contato, .endereco {
    float: left;
    margin: 0;
    font-size: 16px;
    @include mobile {
      float: none;
      display: block;
      font-size: 14px;
    }
  }

  .contato {
    font-weight: bold;
    a:hover {
      color: $azulClaro;
    }
  }

  .endereco {
    margin-left: 40px;
    @include mobile {
      margin-left: 0;
      margin-top: 10px;
    }
  }
}
