header {
  background: $azul;
  color: #fff;
  height: 630px;
  @include clearfix;
  @include tablet {
    width: 100% !important;
  }
  @include mobile {
    height: auto;
  }

  .asco {
    width: 509px;
    height: 100%;
    float: left;
    background: image('asco.png') no-repeat center top;
    background-size: cover;
    border-right: 1px solid #fff;
    @include below(980px) {
      width: 350px;
      background-position: 90% top;
    }
    @include mobile {
      width: 100%;
      height: 200px;
      background-size: 380px;
      background-position: center top;
      border: 0;
    }
  }

  .menu {
    width: calc(100% - 509px);
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
    @include below(980px) {
      width: calc(100% - 350px);
    }
    @include mobile {
      width: 100%;
    }
  }

  .abertura {
    padding: 25px 30px;
    p {
      font-size: 16px;
      line-height: 1.3;
      margin: 0;
    }
    @include tablet {
      padding: 20px;
      p {
        font-size: 15px;
      }
    }
  }

  .autores {
    background: #000;
    padding: 25px 30px;
    @include clearfix;
    p {
      margin: 0;
      width: calc(50% - 15px);
      float: left;
      font-size: 14px;
      line-height: 1.3;
      &:last-child {
        margin-left: 30px;
      }
      strong {
        font-size: 16px;
        font-style: italic;
      }
      small {
        font-size: 13px;
        line-height: 1;
      }
    }
    @include tablet {
      padding: 20px;
      p {
        font-size: 13px;
        strong {
          font-size: 15px;
        }
      }
    }
    @include mobile {
      p {
        width: 100%;
        float: none;
        &:last-child {
          margin-top: 10px;
          margin-left: 0;
        }
      }
    }
  }

  nav {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      border-bottom: 1px solid #fff;
      font-size: 24px;
      font-weight: bold;
      &:hover, &.active {
        background: $azulClaro;
      }
      &:last-child {
        border-bottom: 0;
      }
      @include mobile {
        padding: 10px 0;
        font-size: 20px;
      }
    }
  }
}
