*,
*:after,
*:before {
  box-sizing: border-box;
}

::selection {
  background: black;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
  transition: background .3s, color .3s;
}

body {
  font-family: 'Arial', sans-serif;
  background: #C9C9C9;
}
