.erro-404 {
  text-align: center;
  padding: 80px 0;
  h1 {
    text-transform: uppercase;
    display: inline-block;
    border: 2px solid $azulClaro;
    color: $azul;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 24px;
  }
}
