.topico {
  h1 {
    display: block;
    background: $azul;
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding: 15px;
    + p.titulo {
      margin-top: 1.5em;
    }
    @include mobile {
      font-size: 20px;
      padding: 10px;
    }
  }
  p, table {
    max-width: 700px;
    margin: 1.5em auto;
  }
  p {
    font-size: 16px;
    line-height: 1.5;
    @include mobile {
      font-size: 14px;
    }
    &.titulo {
      font-weight: bold;
      font-style: italic;
      margin-top: 2.5em;
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    th, td {
      border: 1px solid $azul;
      text-align: center;
      font-size: 16px;
      padding: 15px;
      @include mobile {
        font-size: 14px;
        padding: 10px;
      }
    }
    th {
      background: $azul;
      color: #fff;
      border-color: $azulClaro;
    }
  }
}
